body {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #f6f6f6;
    font-family: Hind, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 4%;
}

.calendar {
    width: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Hind, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.weekdays {
    display: flex;
}

.weekdays div {
    flex: 1;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.days div:hover {
    background-color: #f2f2f2;
}

.days .selected {
    background-color: #ccc;
    font-weight: bold;
}

.list-data li {
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.todo-container,
.container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.notes-container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    flex-grow: 1;
    max-width: 30%;
}

.notes-input {
    font-size: 15px;
    width: 100%;
    padding: 12px;
    margin: 0%;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    font-family: Hind, sans-serif;
}

h2 {
    color: #333333;
    margin-top: 0;
}

.submit-btn {
    background-color: #4d908e;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #3c716f;
}

form {
    margin-top: 20px;
}

.todo-input {
    font-size: 15px;
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Hind, sans-serif;
}

input[type="submit"] {
    background-color: #4d908e;
    color: white;
    border: none;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.list {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;
}

.list-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.list-item input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    cursor: pointer;
}

.list-item input[type="checkbox"]:checked {
    background-color: #4d908e;
    border-color: #4d908e;
}

.list-item label {
    flex-grow: 1;
    cursor: pointer;
    text-align: left;
}

.list-item.completed label {
    text-decoration: line-through;
    color: #999999;
}

.list-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #cccccc;
}

.delete-button,
.delete-button-task {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #888888;
}

.delete-button-task:hover,
.delete-button:hover {
    color: #d11212;
}

.delete-button:focus {
    outline: none;
}

.list-notes li {
    position: relative;
    border: 1px solid #eee;
    background-color: #fff8d2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

 .list-notes li label, .list-data li label{
    padding-left: 30px;
}

.delete-button {
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #888888;
}

.delete-button-task {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #888888;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4d908e;
    padding: 10px;
    color: white;
    z-index: 9999; /* Para garantir que a header fique acima do conteúdo */
}

#header {
    display: flex;
    align-items: center;
}

#profile-photo {
    margin-right: 10px;
}

#username {
    margin: 0;
    margin-right: 10px;
}

#signOut {
    background-color: #4d908e;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    right: 10px;
    position: absolute;
    margin-right: 15px;
}

#signOut:hover {
    background-color: #3c716f;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: #4d908e;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo específico para o botão "prev" */
button.prev {
    margin-right: 10px;
}

/* Estilo específico para o botão "next" */
button.next {
    margin-left: 10px;
}


@media (max-width: 500px) {
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }
}
