body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    font-family: Hind, sans-serif;
    margin: 0;
    padding: 0;
}

.calendar-container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add margin-top to center the container vertically */
    margin-right: 20px;
    margin-left: 20px;
    flex-grow: 1;
  }


.todo-container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add margin-top to center the container vertically */
    margin-right: 20px;
    margin-left: 20px;
}

.notes-container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add margin-top to center the container vertically */
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

.notes-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; /* Disable manual resizing */
    overflow: hidden; /* Hide scrollbars */
  }

h2 {
    color: #333333;
    margin-top: 0;
}

.submit-btn {
    background-color: #a78b5f;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #896f4c;
}

form {
    margin-top: 20px;
}
.todo-input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box; /* Adicionado */
}


input[type="submit"] {
    background-color: #a78b5f;
    color: white;
    border: none;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}


.list {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    list-style-type: none;
    padding: 0;
}

.list-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.list-item input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    cursor: pointer;
}

.list-item input[type="checkbox"]:checked {
    background-color: #a78b5f;
    border-color: #a78b5f;
}

.list-item label {
    flex-grow: 1;
    cursor: pointer;
    text-align: left;
}

.list-item.completed label {
    text-decoration: line-through;
    color: #999999;
}

.list-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #cccccc;
}

.delete-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: #888888;
  }
  
  .delete-button:hover {
    color: #d11212;
  }
  
  .delete-button:focus {
    outline: none;
  }
  
  

@media (max-width: 500px) {
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }
}

